* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(255, 166, 0), rgb(243, 243, 120));
}

h1 {
    color: rgb(233, 58, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-decoration: underline rgb(160, 66, 12);
}

.Site-content {
    flex: 1;
    width: 100%;
}

#container {
    margin: 0 auto;
    display: block;
    width: 90%;
    text-align: center;
}

#movie {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1.3rem;
}

img {
    width: 90%;
    max-width: 600px;
}

label {
    color: rgb(114, 27, 1);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

input {
    border: none;
    border-bottom: 2px solid red;
  }

button {
    background-color: #ec9751;
    border: none;
    color: rgb(204, 38, 9);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
}

p {
    color: rgb(0, 0, 0);
}